.app-header {
    background-color: #f8f9fa;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  
    .navbar-brand {
      font-size: 1.5rem;
      color: white;
      text-decoration: none;
      
    }

    .header-text{
      color: white;
      font-weight: bold;
      padding: 5px;
      &:hover {
        color: #787878;
      }

      @media (max-width: 480px) {
        font-size: 15px;
      }
    }
  }

  a {
    text-decoration: none !important;
  }
  
  .app-footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ddd;
  
    p {
      margin: 0;
      font-size: 0.9rem;
      color: #555;
    }
  }
  
  main.container {
    margin-top: 20px;
    min-height: 80vh;
  }
  