<!-- Application Header -->
<header style="background-color: black;" class="app-header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid navbar-brand">
          <a href="/">
            <span class="header-text">{{ 'home.text1' | translate }}</span>
          </a>
          <span style="align-items: flex-end;" class="header-text">{{ 'home.text2' | translate }}</span>
      </div>
    </nav>
  </header>
  
  <!-- Main Content (Router Outlet for routing) -->
  <main class="container">
    <router-outlet></router-outlet>
  </main>
  
  <!-- Application Footer -->
  <footer class="app-footer">
    <div class="container">
      <p>&copy;{{ 'home.footer' | translate }} </p>
    </div>
  </footer>
  